<% include ../partials/header %>
<div class="container">
    <div class="row show-content">
        <div class="col-md-3">
            <a href="/campgrounds"><p class="lead"><i class="fa fa-arrow-left" style="margin-right: 8px"></i>Back</p></a>
            <div class="list-group disable">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
                <li class="list-group-item">Info 4</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="camp-img" src="<%= campground.image %>" alt="<%= campground.name %>">
                <div class="caption-full">
                    <h4 class="pull-right">$9.00</h4>
                    <a href="#"><h4><%= campground.name %></h4></a>
                    <p><%= campground.description %></p>
                    <p class="blockquote-footer">Submitted by <%= campground.user.username %></p>
                </div>
            </div>
            <div class="card comment-section">
                <% campground.comments.forEach(function(comment) { %>
                    <div class="row comment-single">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 Days ago</span>
                            <p><%= comment.text %></p>
                        </div>
                    </div>
                <% }); %>
                <div id="comment-form">
                    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                        <div class="form-group">
                            <label for="comment">Add a comment</label>
                            <input id="comment" class="form-control" type="text" name="text" placeholder="Comment">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>